# Fill in and rename this file to .env
# Change these for your bot settings
TELEGRAM_BOT_USERNAME=
TELEGRAM_ACCESS_TOKEN=
SERVERS_CONFIG=servers.yml
# Comma-separated list of user/channels IDs
ALLOWED_USERS=
# You can leave these as is or change
DEFAULT_CHECK_INTERVAL=3600  # This is for scheduled checks (1hr default)
KNOWN_HOSTS_PATH=~/.ssh/known_hosts
SSH_KEYS_PATH=./ssh_keys   # Do not point it at ~/.ssh!
